<div class="banner">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <p>{{ message.description }}</p>
        <div>
          <a href="{{ message.link }}" class="button">
            {{ message.button }}
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
            >
              <g fill="currentColor">
                <use href="#arrow-up-right"></use>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
