{#
MIT License

Copyright (c) 2024, 2025 Vanza Setia

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
#}

<footer>
  <div class="wrapper">
    <div class="box">
      <div class="flow">
        <div>
          <a href="/">
            <svg
              role="img"
              aria-label="VanzaSetia - Home"
              focusable="false"
              width="527.8"
              height="77.801"
              viewBox="0 0 527.8 77.801"
            >
              <g fill="currentColor">
                <use href="#vanzasetia"></use>
              </g>
            </svg>
          </a>
        </div>
        <p><em>Sharing knowledge to defeat ignorance.</em></p>
      </div>
      <div class="footer__meta flow">
        <p>
          Subscribe to the <a href="/feed.xml">Articles RSS feed</a> and
          <a href="/people.xml">People RSS feed</a>. Send your comments or
          report any issues you find to
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>
        <p>
          Encrypt your email to me with
          <a href="/vanzasetia-public-key.txt">my public GPG key</a>. (GPG key
          fingerprint: AD60 1C7F 24B9 21E5 02E9 E9C1 372F 9239 830C 910A)
        </p>
        <p>
          The <a href="{{ site.repository }}">source code of this website</a> is
          licensed under the
          <a href="{{ site.repository }}blob/main/LICENSE"
            >MIT License (Expat License)</a
          >.
        </p>
        <p>
          Copyright © {{ copyright.year }} {{ copyright.holder or
          site.copyright.holder }}.
        </p>
        <p class="margin-block-0">
          This page is licensed under a
          <a href="{{ license.url or site.license.url }}"
            >{{ license.name or site.license.name }}</a
          >. All code samples are licensed under the
          <a href="{{ site.repository }}blob/main/LICENSE-SAMPLECODE"
            >MIT No Attribution License (MIT-0)</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>
