{#
MIT License

Copyright (c) 2024, 2025, 2026 Vanza Setia

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
#}

<footer class="footer">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="flow">
        <ul class="cluster" role="list">
          <li>
            <a href="https://bsky.app/profile/vanzasetia.bsky.social">
              Bluesky
            </a>
          </li>
          <li>
            <a href="https://x.com/VanzaSetia">X</a>
          </li>
          <li>
            <a href="https://linkedin.com/in/vanzasetia">LinkedIn</a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">Email</a>
          </li>
          <li>
            <a href="/feed.xml">Article RSS</a>
          </li>
          <li>
            <a href="/people.xml">People RSS</a>
          </li>
          <li>
            <a href="/vanzasetia-public-key.txt">Public GPG key</a>
          </li>
          <li>
            <a href="{{ site.repository }}">Source code</a>
          </li>
        </ul>
        <div>
          <a href="/" class="footer__logo">
            <svg
              width="71.601"
              height="78.7"
              viewBox="0 0 71.601 78.7"
              role="img"
              aria-label="VanzaSetia - Home"
              focusable="false"
            >
              <g fill="currentColor">
                <use href="#tav"></use>
              </g>
            </svg>
          </a>
        </div>
        <p class="footer__meta">
          Copyright © {{ copyright.year }} {{ copyright.holder or
          site.copyright.holder }}.
        </p>
        <p class="footer__meta margin-block-start-0">
          This page is licensed under <a href="{{ license.url or site.license.url }}"
            >{{ license.name or site.license.name }}</a
          >. All code samples are
          licensed under the <a href="{{ site.repository }}blob/main/LICENSE-SAMPLECODE"
            >MIT No Attribution License (MIT-0)</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>
