<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ title }}</title>
    <language>en-us</language>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <copyright>Copyright © {{ copyright.year }} {{ site.copyright.holder }}.</copyright>
    <lastBuildDate>{{ blogs | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <atom:link href="{{ site.url }}/{{ permalink }}" rel="self" type="application/rss+xml" />
    <author>
      <name>{{ author }}</name>
      <email>{{ site.email }}</email>
    </author>
    {% for blog in blogs | reverse %}
    {% set absoluteBlogUrl = blog.url | htmlBaseUrl(site.url) %}
    <item>
      <title>{{ blog.data.title }}</title>
      <link>{{ absoluteBlogUrl }}</link>
      <pubDate>{{ blog.date | dateToRfc822 }}</pubDate>
      <guid>{{ absoluteBlogUrl }}</guid>
      <description>{{ blog.templateContent | transformWithHtmlBase(absoluteBlogUrl, blog.url) }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
