<div class="banner">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <svg
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          fill="currentColor"
        >
          <use href="#thumbs-up"></use>
        </svg>
        <p>
          <a href="https://www.paypal.com/paypalme/vanzasetia">Donate</a> to
          support an <a href="/smart-website/">upcoming course</a> and
          get more extremely rare knowledge.
        </p>
      </div>
    </div>
  </div>
</div>
