<div class="banner">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <svg
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
          fill="currentColor"
        >
          <use href="#thumbs-up"></use>
        </svg>
        <p>
          Discover how to develop a truly unique personal website through
          <a href="/smart-website/">Smart Website course</a>.
        </p>
      </div>
    </div>
  </div>
</div>
