<div class="banner">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <p>
          Discover how to develop a truly unique personal website!
        </p>
        <div>
          <a href="/smart-website/" class="button">Check out the course</a>
        </div>
      </div>
    </div>
  </div>
</div>
