---
# Copyright (c) Vanza Setia
# SPDX-License-Identifier: CC-BY-NC-ND-4.0
layout: layouts/base.njk
title: Smart website
description: This course takes your personal website beyond what you can imagine. You are going to know how to play with your website smartly to stand out.
copyright:
  year: 2025, 2026
---

<main tabindex="-1">
  <div class="hero" data-hero-h1-size="smaller">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="cluster">
          <h1>Play with your website smartly</h1>
          <p class="badge" data-badge-variant="transparent">Smart Website</p>
        </div>
      </div>
    </div>
  </div>
  <div class="prose">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <h2>Truly personalize your website</h2>
          <p>
            Develop and design an impressive personal website that is loved by
            people like you
          </p>
          <p>
            Hundreds of personal websites look pathetic. They do not have
            content. The owners of the websites are probably not content. Let me
            tell you this: putting a smiling face on your website does not show
            that you are happy.
          </p>
          <p>
            This course empowers you to develop a website that truly represents
            who you are, while also providing valuable insights for
            self-reflection and personal growth.
          </p>
          <a
            href="/smart-website/lessons/"
            class="button"
            data-button-variant="course-call-to-action"
          >
            <span class="cluster">
              <span><strong>Take the course for free (zero cost)</strong></span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
              >
                <g fill="currentColor">
                  <use href="#arrow-up-right"></use>
                </g>
              </svg>
            </span>
            <span class="button__description">
              Let's develop a personal website that is beyond your expectation
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="prose" data-prose-variant="glare">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <h2>What will be inside?</h2>
          <p class="prose__lede">Simply, you will get a lot.</p>
          <h3>Both practical and theoretical knowledge</h3>
          <p>
            You will learn from my experience in developing a personal website.
            I will tell you about my experience, which often has immediate,
            useful impacts. Also, you will get the underlying principles that
            can be applied to a wide range of scenarios. With both practical and
            theoretical knowledge, you will get the full understanding of how to
            face challenges and solve problems.
          </p>
          <h3>Encouraging active learning</h3>
          <p>
            Unlike other courses, this course does not baby you by telling you
            every step and every answer to all questions. I understand that you
            have unique experiences and strengths. This course offers you
            options, but you choose your own way.
          </p>
          <h3>Developing the personal website of your dreams</h3>
          <p>
            You will learn how to get the most out of yourself. Do not blend
            with the crowd. Let us make sure that your website truly reflects
            your personality and shows your uniqueness.
          </p>
          <h3>Plain English writing</h3>
          <p>
            I hate confusion. I do not like reading texts with overly complex
            language. I believe that when you understand quickly and fully, you
            can immediately apply what you have learned.
          </p>
          <h3>Learning modern web development</h3>
          <p>
            This course is written with fresh content that promotes modern best
            practices. You do not need to care about Internet Explorer users. I
            do not want them to be my users. But if they visit your website, you
            still welcome them.
          </p>
          <h3>Building a strong foundation</h3>
          <p>
            This course discusses many misconceptions in web development. If you
            think HTML is easy, you are mistaken. Spending money on Udemy is a
            bad idea. I can keep going, but I want you to know the truth through
            this course.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="prose" data-prose-variant="primary">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <div
            class="prose__headline cluster"
            data-cluster-direction="column-reverse"
            data-cluster-center="center"
          >
            <h2>Let's develop a great personal website together</h2>
            <p class="badge" data-badge-variant="transparent">
              Take the smart course
            </p>
          </div>
          <p class="prose__description">
            With Smart Website, my goal is to share my valuable knowledge that I
            have learned for more than six years of self-taught. I do not want
            you to spend that amount of time to get where I am now.
          </p>
          <a
            href="/smart-website/lessons/"
            class="button"
            data-button-variant="course-call-to-action"
          >
            <span class="cluster">
              <span><strong>Take the course for free (zero cost)</strong></span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
              >
                <g fill="currentColor">
                  <use href="#arrow-up-right"></use>
                </g>
              </svg>
            </span>
            <span class="button__description">
              Let's develop a personal website that is beyond your expectation
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="course-sponsor">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="cluster flow">
          <h2>
            I give you this course for free because I believe every amazing
            person deserves a great personal website.
          </h2>
          <div>
            <a href="/" class="course-sponsor__logo">
              <svg
                width="71.601"
                height="78.7"
                viewBox="0 0 71.601 78.7"
                role="img"
                aria-label="Vanza Setia - Home"
                focusable="false"
              >
                <g fill="currentColor">
                  <use href="#tav"></use>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

