---
layout: layouts/base.njk
title: Smart website
description: This course takes your personal website beyond what you can imagine. You are going to know how to play with your website smartly to stand out.
copyright:
  year: 2025
---

<main tabindex="-1">
  <div class="course">
    <div class="headline">
      <div class="wrapper">
        <div class="wrapper" data-wrapper-type="inner">
          <div class="cluster">
            <h1>Play with your website <em>smartly</em></h1>
            <p class="badge">Smart website</p>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="wrapper">
        <div class="wrapper" data-wrapper-type="inner">
          <div class="cluster">
            <svg
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#thumbs-up"></use>
            </svg>
            <p>Bookmark this page and access the course when it is ready.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="promo">
      <div class="wrapper">
        <div class="wrapper flow" data-wrapper-type="inner">
          <div class="headline cluster" data-headline-size="smaller">
            <h2>Truly personalize your website</h2>
            <p class="badge">Exceptional</p>
          </div>
          <div class="grid">
            <p class="promo__lede">
              Most personal websites are sad and follow the crowd.
            </p>
            <div class="prose">
              <div class="prose__article flow">
                <p>
                  Hundreds of personal websites look pathetic. They do not have
                  content. The owners of the websites are probably not content.
                  Let me tell you this: putting a smiling face on your website
                  does not show that you are happy.
                </p>
                <p>
                  This course empowers you to develop a website that truly
                  represents who you are, while also providing valuable insights
                  for self-reflection and personal growth.
                </p>
              </div>
            </div>
          </div>
          <a
            href="/smart-website/lessons/"
            class="button"
            data-button-size="mega"
          >
            Explore the course
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="promo">
      <div class="wrapper">
        <div class="wrapper flow" data-wrapper-type="inner">
          <div class="headline cluster" data-headline-size="smaller">
            <h2>Zero cost for good content</h2>
            <p class="badge">Priceless</p>
          </div>
          <p class="promo__lede">
            Access the highest quality course on personal website at the best
            price ever.
          </p>
          <div class="grid" data-grid-gap="wide">
            <div>
              <h3>Keep your data</h3>
              <p>
                You access this course without losing your privacy. I do not
                need your email address. I do not inject any third-party
                advertisements. I do not use scripts to steal your data. Never.
                <strong>Only extremely rare content</strong>.
              </p>
            </div>
            <div>
              <h3>Spend money at your convenience</h3>
              <p>
                You do not need to pay anything to start learning to develop
                your awesome website from scratch. But I do accept
                <a href="https://www.paypal.com/paypalme/vanzasetia"
                  >donations through PayPal</a
                >. Please share my work. I appreciate those who appreciate my
                work.
              </p>
            </div>
          </div>
          <a
            href="https://www.paypal.com/paypalme/vanzasetia"
            class="button"
            data-button-size="mega"
          >
            Support my work
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="promo">
      <div class="wrapper">
        <div class="box flow">
          <div class="line flow">
            <div class="headline cluster" data-headline-size="smaller">
              <h2>What will be inside?</h2>
              <p class="badge">Fun</p>
            </div>
            <p class="promo__lede">Simply, you will get a lot.</p>
          </div>
          <div class="grid" data-grid-gap="wide">
            <div>
              <h3>Developing the personal website of your dreams</h3>
              <p>
                You will learn how to get the most out of yourself. Do not blend
                with the crowd. Let us make sure that your website truly
                reflects your personality and shows your uniqueness.
              </p>
            </div>
            <div>
              <h3>Both practical and theoretical knowledge</h3>
              <p>
                You will learn from my experience in developing a personal
                website. I will tell you about my experience, which often has
                immediate, useful impacts. Also, you will get the underlying
                principles that can be applied to a wide range of scenarios.
                With both practical and theoretical knowledge, you will get the
                full understanding of how to face challenges and solve problems.
              </p>
            </div>
            <div>
              <h3>Encouraging active learning</h3>
              <p>
                Unlike other courses, this course does not baby you by telling
                you every step and every answer to all questions. I understand
                that you have unique experiences and strengths. This course
                offers you options, but you choose your own way.
              </p>
            </div>
            <div>
              <h3>Plain English writing</h3>
              <p>
                I hate confusion. I do not like reading texts with overly
                complex language. I believe that when you understand quickly and
                fully, you can immediately apply what you have learned.
              </p>
            </div>
            <div>
              <h3>Learning modern web development</h3>
              <p>
                This course is written with fresh content that promotes modern
                best practices. You do not need to care about Internet Explorer
                users. I do not want them to be my users. But if they visit your
                website, you still welcome them.
              </p>
            </div>
            <div>
              <h3>Building a strong foundation</h3>
              <p>
                This course discusses many misconceptions in web development. If
                you think HTML is easy, you are mistaken. Spending money on
                Udemy is a bad idea. I can keep going, but I want you to know
                the truth.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="instructor headline" data-headline-size="smaller">
      <div class="wrapper">
        <div class="wrapper flow" data-wrapper-type="inner">
          <h2>Meet your instructor</h2>
          <div class="sidebar">
            <div>
              <svg
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
                fill="currentColor"
              >
                <use href="#coffee"></use>
              </svg>
            </div>
            <div class="prose">
              <div class="prose__article flow">
                <p>
                  I am Vanza. I have browsed the web intensively for over five
                  years. I have seen so many websites. Some use simple CSS
                  framework, like
                  <a href="https://simplecss.org/">Simple.css</a>. Some have
                  links only. Some are weird. None of them is bad. In fact, they
                  are unique. <strong>But they can be better</strong>.
                </p>
                <p>
                  I have never worked in a professional setting in web
                  development. But I have extensive portfolio of projects on my
                  <a href="https://github.com/vanzasetia/">GitHub</a> showcases
                  my creativity and technical ability, proving that great skills
                  can emerge from personal passion and dedication. Each of those
                  projects have a <code>README</code> file that explain my
                  decision making process. You can judge whether I am qualified
                  or not.
                </p>
                <p>
                  My teaching style is different from others. I say things as
                  is. I do not
                  <a
                    href="https://dictionary.cambridge.org/dictionary/english/sugarcoat"
                    >sugarcoat</a
                  >. I do not have time to think about what will people say.
                </p>
                <p>One more thing, I am a fan of black coffee.</p>
                <a href="/author/" class="button">
                  More about me
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    focusable="false"
                    fill="currentColor"
                  >
                    <use href="#arrow-up-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promo">
      <div class="wrapper">
        <div class="box flow">
          <div class="headline cluster" data-headline-size="smaller">
            <h2>Make your website more competitive <em>than ever</em></h2>
            <p class="badge">Ambitious</p>
          </div>
          <div class="grid">
            <p class="promo__lede">Time to fight. Get yourself ready.</p>
            <div class="prose">
              <div class="prose__article flow">
                <p>
                  People compete to get likes on social media. I want personal
                  websites to be a way for people to compete at their best.
                  Unlike social media, which has censorship, personal websites
                  are where people show their real and best selves.
                </p>
              </div>
            </div>
          </div>
          <a
            href="/smart-website/lessons/"
            class="button"
            data-button-size="mega"
          >
            Explore the course
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="wrapper">
        <div class="wrapper" data-wrapper-type="inner">
          <div class="cluster">
            <svg
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#thumbs-up"></use>
            </svg>
            <p>
              This course will be available in <strong>August 2026</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
