---
layout: layouts/extension.njk
numberOfRecommendation: 2
---

{#
MIT License

Copyright (c) 2024 Vanza Setia

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
#}

<div class="title" data-title-type="blog">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="flow">
        <h1>{{ title | titleCaseFilter }}</h1>
        <div class="title__meta cluster">
          <p>
            <strong>{{ author.name }}</strong>,
            {% set publishedDate = page.date %}
            <time datetime="{{ publishedDate | htmlDateFilter }}"
              >{{ publishedDate | blogDateFilter }}</time
            >
          </p>
          <p>Estimated reading time: <strong>{{ content | timeToRead("200 words a minute") }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "support.njk"%}
<div class="prose" data-prose-type="blog" data-prose-body-size="bigger">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="prose__article flow">
        {{ content | safe }}
        <a href="mailto:{{ site.email }}" class="button">
          Share your thoughts
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
            fill="currentColor"
          >
            <use href="#arrow-up-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="topics" data-topics-type="blog">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <h2>Topic(s).</h2>
        {% include "blog/categories.njk" %}
      </div>
    </div>
  </div>
</div>
<div class="prose">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="request">
        <div class="prose__article">
          <p>
            Thank you for reading this
            <strong><a href="{{ page.url }}">{{ title | titleCaseFilter }}</a></strong
            >. You can subscribe to all my articles with the
            <a href="/feed.xml">Articles RSS</a>. If you have a positive or
            <em>negative</em> comment, please send me an
            <a href="mailto:{{ site.email }}">email</a> or contact me through one of my social
            media accounts.
          </p>
        </div>
      </div>
      <div class="request">
        <div class="flow prose__article">
          <h2>Share with your network</h2>
          <p>Copy this link and send it to great people only.</p>
          <p><code>{{ site.url }}{{ page.url }}</code></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="articles" data-articles-type="blog">
  <div class="wrapper">
    <div class="wrapper flow" data-wrapper-type="inner">
      <h2>For you</h2>
      {% set blogList = collections.blog | shuffleFilter(numberOfRecommendation) %}
      {% set useHeadingThree = true %}
      <ul class="articles__list grid" role="list">
        {% include "blog/list.njk" %}
      </ul>
    </div>
  </div>
</div>
