---
title: Vitamin L3
description: Vitamin Link Three (Vitamin L3 or VL3) is a good curated links for your mind provided to you with classic design for better focus. Each capsule contains three links ready for your mind.
permalink: /vitamin-l3/index.html
eleventyNavigation:
  key: Links
  order: 7
copyright:
  year: 2026
---

<div
  class="vl3-home prose"
  data-prose-type="blog"
  data-prose-body-size="bigger"
>
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="prose__article">
        <h1>Vitamin L3</h1>
        <div class="box">
          <div class="flow">
            <p class="vl3-home__lede">
              This is not an illegal drug. This is not poison. This is a curated, healthy link that will not infect your brain. This is Vitamin Link Three (Vitamin L3).
            </p>
            <dl class="grid">
              <dt>Private</dt>
              <dd>No URL tracking from me, no URL shorteners</dd>
              <dt>Useful</dt>
              <dd>Contains tools to help you write better code</dd>
              <dt>Secure</dt>
              <dd>Zero spammy and low-quality links</dd>
            </dl>
          </div>
        </div>
        <div>
          <a
            href="/vitamin-l3/medical-kit/"
            class="button"
            data-button-layout="call-to-action"
            data-button-color="primary"
            data-button-border="none"
          >
            <p class="cluster">
              <strong>Inspect the medical kit</strong>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="#arrow-up-right"></use>
              </svg>
            </p>
            <p class="button__description">
              Consume all {{ collections.vl3.length }} capsules properly.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
