<header class="course-header">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <div>
          <a href="/smart-website/lessons/" class="course-header__name">
            Smart Website
          </a>
        </div>
        <p>A course by <a href="/">VanzaSetia</a></p>
      </div>
    </div>
  </div>
</header>
