<header class="course-header">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <div class="cluster">
        <a href="/smart-website/lessons/" class="course-header__name">
          <span>Smart</span> Website
        </a>
        <p>A course by <a href="./">Vanza Setia</a></p>
      </div>
    </div>
  </div>
</header>
