<footer class="footer" data-footer-type="vl3">
  <div class="wrapper">
    <div class="wrapper" data-wrapper-type="inner">
      <p>
        Healthy links from <a href="/vitamin-l3/">Vitamin L3 </a>by
        <a href="/">Vanza Setia</a>.
      </p>
      <p>
        Copyright © {{ copyright.year }} {{ copyright.holder or
        site.copyright.holder }}.
      </p>
      <p>
        This page is licensed under
        <a href="{{ license.url or site.license.url }}"
          >{{ license.name or site.license.name }}</a
        >.
      </p>
    </div>
  </div>
</footer>
