@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible-next-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/atkinson-hyperlegible-next-normal.woff2") format("woff2");
}

:root {
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1280,21,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vi, 0.3125rem);
  /* Space 2xs: 8px → 11px */
  --space-2xs: clamp(0.5rem, 0.4375rem + 0.3125vi, 0.6875rem);
  /* Space xs: 12px → 16px */
  --space-xs: clamp(0.75rem, 0.6667rem + 0.4167vi, 1rem);
  /* Space s: 16px → 21px */
  --space-s: clamp(1rem, 0.8958rem + 0.5208vi, 1.3125rem);
  /* Space m: 24px → 32px */
  --space-m: clamp(1.5rem, 1.3333rem + 0.8333vi, 2rem);
  /* Space l: 32px → 42px */
  --space-l: clamp(2rem, 1.7917rem + 1.0417vi, 2.625rem);
  /* Space xl: 48px → 63px */
  --space-xl: clamp(3rem, 2.6875rem + 1.5625vi, 3.9375rem);
  /* Space 2xl: 64px → 84px */
  --space-2xl: clamp(4rem, 3.5833rem + 2.0833vi, 5.25rem);
  /* Space 3xl: 96px → 126px */
  --space-3xl: clamp(6rem, 5.375rem + 3.125vi, 7.875rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 11px */
  --space-3xs-2xs: clamp(0.25rem, 0.1042rem + 0.7292vi, 0.6875rem);
  /* Space 2xs-xs: 8px → 16px */
  --space-2xs-xs: clamp(0.5rem, 0.3333rem + 0.8333vi, 1rem);
  /* Space xs-s: 12px → 21px */
  --space-xs-s: clamp(0.75rem, 0.5625rem + 0.9375vi, 1.3125rem);
  /* Space s-m: 16px → 32px */
  --space-s-m: clamp(1rem, 0.6667rem + 1.6667vi, 2rem);
  /* Space m-l: 24px → 42px */
  --space-m-l: clamp(1.5rem, 1.125rem + 1.875vi, 2.625rem);
  /* Space l-xl: 32px → 63px */
  --space-l-xl: clamp(2rem, 1.3542rem + 3.2292vi, 3.9375rem);
  /* Space xl-2xl: 48px → 84px */
  --space-xl-2xl: clamp(3rem, 2.25rem + 3.75vi, 5.25rem);
  /* Space 2xl-3xl: 64px → 126px */
  --space-2xl-3xl: clamp(4rem, 2.7083rem + 6.4583vi, 7.875rem);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1280,21,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -2: 12.642px → 13.44px */
  --size-step--2: clamp(0.7901rem, 0.7735rem + 0.0831vi, 0.84rem);
  /* Step -1: 14.2222px → 16.8px */
  --size-step--1: clamp(0.8889rem, 0.8352rem + 0.2685vi, 1.05rem);
  /* Step 0: 16px → 21px */
  --size-step-0: clamp(1rem, 0.8958rem + 0.5208vi, 1.3125rem);
  /* Step 1: 18px → 26.25px */
  --size-step-1: clamp(1.125rem, 0.9531rem + 0.8594vi, 1.6406rem);
  /* Step 2: 20.25px → 32.8125px */
  --size-step-2: clamp(1.2656rem, 1.0039rem + 1.3086vi, 2.0508rem);
  /* Step 3: 22.7813px → 41.0156px */
  --size-step-3: clamp(1.4238rem, 1.0439rem + 1.8994vi, 2.5635rem);
  /* Step 4: 25.6289px → 51.2695px */
  --size-step-4: clamp(1.6018rem, 1.0676rem + 2.6709vi, 3.2043rem);
  /* Step 5: 28.8325px → 64.0869px */
  --size-step-5: clamp(1.802rem, 1.0676rem + 3.6723vi, 4.0054rem);
  /* Step 6: 32.4366px → 80.1086px */
  --size-step-6: clamp(2.0273rem, 1.0341rem + 4.9658vi, 5.0068rem);
  /* Step 7: 36.4912px → 100.1358px */
  --size-step-7: clamp(2.2807rem, 0.9548rem + 6.6297vi, 6.2585rem);
  /* Step 8: 41.0526px → 125.1698px */
  --size-step-8: clamp(2.5658rem, 0.8133rem + 8.7622vi, 7.8231rem);
  /* Step 9: 46.1841px → 156.4622px */
  --size-step-9: clamp(2.8865rem, 0.589rem + 11.4873vi, 9.7789rem);
  /* Step 10: 51.9571px → 195.5777px */
  --size-step-10: clamp(3.2473rem, 0.2552rem + 14.9605vi, 12.2236rem);

  /* Colors */
  /*
  NAMING CONVENTION FOR LOCAL COLORS

  Use the following formula for local:

  color + CSS selector/alis name + CSS property without "color"

  For example:

  (color + link + text)
  a {
    color: var(--color-link-text);
  }
  */
  --color-primary-dirty: #d9d900;
  --color-primary-gloom: #f2f200;
  --color-primary-shade: #ffff0d;
  --color-primary: #ffff00;
  --color-primary-glare: #ffff4d;
  --color-secondary: #55185d;
  --color-secondary-glare: #8f269d;
  --color-tertiary: #c80000;
  --color-tertiary-glare: #ff0000;
  --color-dark-shade: #000;
  --color-dark: #121212;
  --color-dark-glare: #1f1f1f;
  --color-dark-bright: #212121;
  --color-light: #ffffff;
  --color-light-shade: #565656;
  --color-accent: var(--color-primary);
  --color-body-background: var(--color-dark);
  --color-body-background-highlight: var(--color-dark-glare);
  --color-body-text: var(--color-light);
  --global-color-abbr-text: currentColor;
  --global-color-focus-ring: var(--color-body-text);
  --global-color-table-border: var(--color-body-text);
  --global-color-table-scrollbar-background: var(--color-dark-glare);
  --global-color-table-scrollbar-scroll: var(--color-body-text);
  --global-color-input-border: var(--color-body-text);
  --global-color-input-background: var(--color-body-text);
  --global-color-input-text: var(--color-body-background);
  --global-color-input-disabled-background: var(
    --color-body-background-highlight
  );
  --global-color-aria-current-background: var(
    --color-aria-current-background,
    var(--color-dark-bright)
  );
  --global-color-aria-current-text: var(
    --color-aria-current-text,
    var(--color-body-text)
  );
  --color-pre-background: var(--color-dark-glare);
  --color-pre-text: var(--color-light);
  --color-pre-border-block: var(--color-accent);
  --color-pre-scrollbar-background: var(--color-pre-text);
  --color-pre-scrollbar-scroll: var(--color-dark);

  /* Typography */
  --kerning: -0.015em;
  --leading-normal: 1.5;
  --leading-soft: 1.1;
  --font-serif:
    "Georgia Pro", Georgia, Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", serif;
  --font-sans-serif:
    "Atkinson Hyperlegible Next", "Atkinson Hyperlegible", "San Francisco",
    "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  --font-monospace:
    "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  --font-system:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-base: var(--font-sans-serif);
  --measure-xs: 20ch;
  --measure-s: 35ch;
  --measure-m: 45ch;
  --measure-l: 65ch;
  --stroke-weight-light: 1px;
  --stroke-weight-medium: 3px;
  --stroke-weight-heavy: 10px;
  --stroke: var(--stroke-weight-light) solid var(--color-body-text);

  /*
  GLOBAL STYLE

  One of the purposes is to allow having multiple themes easily. The global style is a variable to be used on all themes. The variable has one local variable, which is empty by default, and one fallback value.

  The fallback value is used for the default theme.

  The local variable is used to style an element for a specific theme.

  Another purpose is to keep track values that you want to track. For example, I want to track focus styling and to change focus styling based on context. So I decided to have a global style.
  */
  --global-headings-space: var(--headings-space, var(--space-m));
  --global-offset-focus-ring: 0.2lh;
  --global-style-focus-ring: solid;
  --global-width-focus-ring: 4px;
  /* Make sure blockquote's quote has consistent position and spacing */
  --global-blockquote-decor-left: var(--blockquote-decor-left, var(--gutter));
  --global-blockquote-padding: var(--blockquote-padding, var(--gutter));
  --global-list-padding-inline-start: var(--list-padding-inline-start, 2ch);
  --global-list-flow: var(--list-flow, 0.5em);
  --global-figure-margin: var(--figure-margin, 0);
  --gutter: var(--space-xs);
  --wrapper-max-width: 1350px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-variant-alternates: styleset(disambiguation);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-primary-dirty: color(display-p3 0.85 0.85 0.25);
    --color-primary-gloom: color(display-p3 0.93 0.93 0.27);
    --color-primary-shade: color(display-p3 1 1 0.34);
    --color-primary: color(display-p3 1 1 0);
    --color-secondary: color(display-p3 0.3 0 0.37);
    --color-secondary-glare: color(display-p3 0.5 0 0.61);
    --color-tertiary: color(display-p3 0.69 0.05 0);
    --color-dark: color(display-p3 0.07 0.07 0.07);
    --color-dark-glare: color(display-p3 0.12 0.12 0.12);
    --color-light: color(display-p3 1 1 1);
    --color-light-shade: color(display-p3 0.34 0.34 0.34);
  }
}

@media (min-width: 37em) {
  :root {
    --gutter: var(--space-s);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  overflow-wrap: break-word;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:focus {
  outline-color: var(--color-focus-ring, var(--global-color-focus-ring));
  outline-style: var(--style-focus-ring, var(--global-style-focus-ring));
  outline-width: var(--width-focus-ring, var(--global-width-focus-ring));
  outline-offset: var(--offset-focus-ring, var(--global-offset-focus-ring));
}

@supports selector(: focus-visible) {
  :focus {
    outline: none;
  }
  :focus-visible {
    outline-color: var(--color-focus-ring, var(--global-color-focus-ring));
    outline-style: var(--style-focus-ring, var(--global-style-focus-ring));
    outline-width: var(--width-focus-ring, var(--global-width-focus-ring));
    outline-offset: var(--offset-focus-ring, var(--global-offset-focus-ring));
  }
}

@supports (-moz-appearance: none) {
  :root {
    --offset-focus-ring: 0.2ex;
  }
}

:is([tabindex="-1"]):focus,
:is([tabindex="-1"]):focus-visible {
  outline: none;
}

:target {
  outline: 0;
  scroll-margin-block: 5ex;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block: 0;
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.2;
}

html:focus-within {
  scroll-behavior: smooth;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  margin-block: var(--gutter);
  min-height: 100vh;
  background-color: var(--color-body-background);
  color: var(--color-body-text);
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-size-adjust: from-font;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.2;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "cpsp" on;
  text-wrap: balance;
}

h1 {
  max-width: var(--measure-xs);
  font-size: var(--size-step-7);
  letter-spacing: var(--kerning);
}

h2 {
  max-width: var(--measure-s);
  font-size: var(--size-step-4);
}

h3 {
  max-width: var(--measure-m);
  font-size: var(--size-step-3);
}

h4,
h5,
h6 {
  max-width: var(--measure-m);
  font-size: var(--size-step-2);
}

:is(h1, h2, h3, h4, h5, h6) + :not([class]) {
  margin-block-start: var(--global-headings-space);
}

:is(h1, h2, h3, h4, h5, h6) a:not(:hover) {
  text-decoration-color: transparent;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.3ex;
  text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2ex;
}

a:not([class]):hover,
abbr {
  text-underline-offset: 0.3ex;
}

abbr {
  color: var(--global-color-abbr-text);
  cursor: help;
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

img[src*=".svg"] {
  width: 100%;
}

picture {
  width: max-content;
}

svg {
  flex-shrink: 0;
  width: auto;
}

iframe,
video {
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

figure {
  margin: var(--global-figure-margin);
}

caption,
figcaption {
  padding-block-start: 0.5em;
  font-size: var(--size-step--1);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

small {
  font-size: 0.8em;
}

code,
kbd,
samp {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 0;
  background: transparent;
  font-family: var(--font-monospace);
  font-size: 0.95em;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
  hyphens: none;
  tab-size: 2;
  word-wrap: normal;
}

code {
  border-radius: 0.2em;
  padding-block: 0.1em;
  padding-inline: 0.3em;
  background-color: var(--color-body-background-highlight);
  color: var(--color-accent);
}

kbd {
  box-shadow:
    0.06rem 0.06rem 0 currentColor,
    0.08rem 0.08rem 0 currentColor;
  border: 0.05rem solid currentColor;
  border-radius: 0.1em;
  padding-block: 0.01em;
  padding-inline: 0.5em;
  font-size: 0.85em;
  text-box-trim: trim-start cap;
}

pre {
  --color-selection-background: var(--color-pre-text);
  --color-selection-text: var(--color-pre-background);
  display: block;
  overflow-x: auto;
  border-block: 2px dashed var(--color-pre-border-block);
  max-width: 100%;
  padding: var(--space-2xs-xs);
  background-color: var(--color-pre-background);
  color: var(--color-pre-text);
  text-align: left;
  text-shadow: none;
  word-break: normal;
  word-spacing: normal;
  hyphens: none;
  tab-size: 2;
  scrollbar-color: var(--color-pre-scrollbar-background)
    var(--color-pre-scrollbar-scroll);
  word-wrap: normal;
}

pre code {
  padding: 0;
  background: none;
  color: inherit;
}

sub,
sup {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.75em;
}

sub {
  transform: translateY(0.65ex);
}

sup {
  transform: translateY(-0.7ex);
}

var {
  color: var(--color-primary);
  font-weight: 500;
  font-style: normal;
}

q {
  font-style: italic;
}

blockquote:not([class]) {
  position: relative;
  margin-inline: 0;
  border-inline-start: var(--stroke-weight-medium) solid var(--color-primary);
  padding: 0;
  padding: var(--global-blockquote-padding);
  padding-block-start: calc(var(--global-blockquote-padding) * 2);
  font-style: italic;
}

blockquote:not([class]):before {
  content: "“";
  position: absolute;
  top: 0;
  left: var(--global-blockquote-decor-left);
  opacity: 1;
  font-family: var(--font-serif);
  font-size: var(--size-step-5);
  line-height: 0.8;
}

blockquote:not([class]) > * + * {
  margin-block-start: var(--gutter);
}

:is(ol, ul) {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  padding-inline-start: var(--global-list-padding-inline-start);
  list-style-type: disc;
}

ol {
  padding-inline-start: var(--global-list-padding-inline-start);
}

:is(ol, ul, dl):where(:not([class])) > li + li {
  margin-block-start: var(--global-list-flow);
}

:is(ol, ul, dl):where(:not([class])) :is(ol, ul, dl) {
  margin-block-start: var(--global-list-flow);
}

ul ::marker {
  font-size: 2.2ex;
  line-height: 1;
}

ol ::marker {
  font-size: 1em;
  font-weight: 700;
}

dt {
  font-size: var(--size-step-1);
  font-weight: 700;
}

dt + dd {
  margin-block-start: var(--space-3xs);
}

dd + dt {
  margin-block-start: var(--space-m);
}

dd + dd {
  margin-block-start: var(--space-3xs);
}

dd {
  margin-inline: 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 35rem;
}

thead th {
  padding: var(--gutter);
  padding: 0.4em;
  background-color: var(--color-body-background-highlight);
  font-size: var(--step-0);
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  letter-spacing: normal;
}

td,
th {
  border-color: var(--color-table-border, var(--global-color-table-border));
  border-style: solid;
  border-width: 1px;
  padding: 0.4em;
  text-align: left;
}

th:not(:only-of-type) {
  border-block-end: 1px solid
    var(--color-table-border, var(--global-color-table-border));
}

th:only-of-type {
  border-inline-end: 1px solid
    var(--color-table-border, var(--global-color-table-border));
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: 1px solid
    var(--color-table-border, var(--global-color-table-border));
}

tr + tr :is(th, td) {
  border-block-start: 1px solid
    var(--color-table-border, var(--global-color-table-border));
}

caption {
  caption-side: bottom;
  margin-block-start: var(--space-2xs, 0.5lh);
}

table > caption {
  font-weight: 700;
}

.table-wrapper {
  overflow-x: auto;
  scrollbar-color: var(--global-color-table-scrollbar-background)
    var(--global-color-table-scrollbar-scroll);
}

hr {
  margin: var(--hr-block-space, var(--space-m-l)) 0;
  border-block-start: 1px solid;
  height: 1px;
  padding: 0;
  color: var(--color-body-text);
}

input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}

textarea:not([rows]) {
  min-height: 10em;
}

form > * {
  text-align: left;
}

form > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(input, select, textarea) {
  accent-color: var(--color-accent);
}

:is(input, select)[aria-describedby] + [id] {
  margin-block-start: var(--space-2xs);
}

:is(
  input:not([type="checkbox"], [type="radio"], [type="color"]),
  select,
  textarea
) {
  --color-input-text: var(--global-color-input-text);
  --color-input-background: var(--global-color-input-background);
  --color-selection-background: var(--color-input-text);
  --color-selection-text: var(--color-input-background);
  --color-focus-ring: var(--color-input-text);
  --offset-focus-ring: -0.2lh;
  border: 2px solid var(--color-input-border, var(--global-color-input-border));
  width: 100%;
  padding: var(--space-2xs);
  background: var(--color-input-background);
  color: var(--color-input-text);
}

:is(input, select)[aria-describedby] + [id] {
  margin-block-start: var(--space-2xs);
}

label {
  font-size: var(--step-1);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--kerning);
}

/* Creates a line break, but maintains its inline behaviour */

label::after {
  content: "\A";
  white-space: pre;
}

label:has(input:is([type="radio"], [type="checkbox"])) {
  display: flex;
  align-items: baseline;
  gap: var(--space-xs);
}

label:has(input) + label:has(input) {
  --flow-space: var(--space-xs-s);
}

.flow label + input,
.flow label + textarea,
label + input,
label + textarea {
  margin-block-start: var(--space-2xs);
}

label:has(input) input {
  transform: translateY(-0.1ex);
}

input:disabled {
  background-color: var(
    --color-input-disabled-background,
    var(--global-color-input-disabled-background)
  );
}

input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}

fieldset {
  border: var(--stroke-weight-light) solid var(--color-body-text);
  padding: var(--space-s);
}

legend {
  padding-inline: var(--space-2xs);
  font-weight: 400;
}

summary {
  font-weight: 700;
  cursor: default;
}

details[open] summary {
  margin-block-end: var(--space-s);
}

mark {
  background-color: var(--color-accent);
  color: var(--color-body-background);
}

[role="list"][class],
[role="tablist"] {
  margin-block-end: 0;
  padding: 0;
  list-style: none;
}

[class] {
  margin-block: 0;
}

[aria-current] {
  background-color: var(--global-color-aria-current-background);
  color: var(--global-color-aria-current-text);
}

/* Selection colors can not be in GLOBAL STYLING because it only modifiable through this method */

::selection {
  background-color: var(--color-selection-background, var(--color-body-text));
  color: var(--color-selection-text, var(--color-body-background));
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  border: 0;
  width: 1px;
  height: 0;
  padding: 0;
  white-space: nowrap;
}

.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--gutter);
}

.wrapper[data-wrapper-type="inner"] {
  padding-block: var(--wrapper-inner-padding-block, var(--space-l));
  padding-inline: var(--wrapper-inner-padding-inline, var(--gutter));
}

.flexible,
.flexible > * {
  display: flex;
  flex-wrap: wrap;
}

.flexible > * {
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  padding: var(--space-s);
  text-align: center;
}

.flexible[data-flexible-type="line"] > * {
  outline-color: var(--color-body-text);
  outline-style: solid;
  outline-width: var(--stroke-weight-light);
  background-color: var(--color-body-background);
}

.flexible[data-flexible-type="line"],
.flexible[data-flexible-type="line"] > * {
  overflow: hidden;
}

.cluster {
  display: flex;
  flex-direction: var(--cluster-flex-direction, row);
  flex-wrap: var(--cluster-flex-wrap, wrap);
  row-gap: var(--cluster-row-gap, var(--space-s));
  column-gap: var(--cluster-column-gap, var(--space-s));
  align-items: var(--cluster-align-items, flex-start);
  justify-content: var(--cluster-justify-content, flex-start);
}

.cluster[data-cluster-direction="column-reverse"] {
  --cluster-flex-direction: column-reverse;
}

.cluster[data-cluster-center="center"] {
  --cluster-align-items: center;
  --cluster-justify-content: center;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.button {
  --button-background-color: var(--color-body-background);
  --button-text-color: var(--color-body-text);
  --button-hover-text-color: var(--button-background-color);
  --button-hover-background-color: var(--button-text-color);
  position: relative;
  display: var(--button-display, inline-block);
  border-color: var(--button-border-color, var(--color-body-text));
  border-style: var(--button-border-style, solid);
  border-width: var(--button-border-width, var(--stroke-weight-light));
  border-radius: var(--button-border-radius, 0);
  border-block-end-width: var(--button-border-block-end-width, 0.15em);
  padding-block: var(--button-padding-block, var(--space-2xs));
  padding-inline: var(--button-padding-inline, var(--space-m));
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-family: var(--button-font-family, var(--font-sans-serif));
  font-size: var(--button-font-size, var(--size-step-0));
  font-weight: var(--button-font-weight, 700);
  text-decoration-color: var(--button-text-decoration-color, transparent);
  text-transform: var(--button-text-transform, uppercase);
}

.button[data-button-variant="light"] {
  --button-background-color: var(--color-light);
  --button-text-color: var(--color-dark);
}

.button[data-button-variant="primary"] {
  --button-background-color: var(--color-primary);
  --button-text-color: var(--color-dark);
  --button-border-color: var(--color-primary);
  --button-hover-background-color: var(--color-primary-glare);
  --button-hover-text-color: var(--color-dark);
}

.button[data-button-variant="primary"]:hover {
  border-color: var(--color-primary-glare);
}

.button svg {
  vertical-align: var(--button-svg-vertical-alignment, -0.35em);
  margin-inline-start: var(--button-svg-margin-inline-start, 0.1em);
  height: var(--button-svg-size, 2.5ex);
}

.button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

.button:active {
  top: 3px;
}

.button[data-button-variant="course-call-to-action"] {
  --cluster-justify-content: space-between;
  --cluster-align-items: center;
  --cluster-flex-wrap: no-wrap;
  --button-display: block;
  --button-padding-block: var(--space-m);
  --button-padding-inline: var(--space-m);
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--color-body-text);
  --button-font-weight: 400;
  --button-text-transform: normal;
  --button-border-block-end-width: var(--button-border-width);
  --button-font-size: var(--size-step-1);
  width: 100%;
}

.button[data-button-variant="course-call-to-action"]:hover svg {
  transform: rotate(45deg);
}

.button__description {
  display: block;
  margin-block-start: 1em;
  font-size: var(--size-step-0);
}

.banner {
  --color-focus-ring: var(--color-dark);
}

.banner .wrapper[data-wrapper-type="inner"] {
  --cluster-justify-content: space-between;
  --cluster-align-items: center;
  --wrapper-inner-padding-block: var(--space-xs);
  background-color: var(--banner-box-background-color, var(--color-primary));
  color: var(--banner-box-text-color, var(--color-dark));
}

.banner .button {
  --button-border-color: var(--color-dark);
  --button-font-size: var(--size-step--1);
}

.ads__box {
  --color-focus-ring: var(--color-dark);
  --box-padding-block: var(--space-l);
  --box-padding-inline: var(--space-l);
  --box-border-width: 0;
  background-color: var(--color-primary-shade);
  background-image: linear-gradient(
    90deg,
    var(--color-primary-shade) 0%,
    var(--color-primary-gloom) 90%
  );
  color: var(--color-dark);
}

.ads__box .button {
  border: 0;
}

.ads h2 {
  font-family: var(--font-monospace);
  font-size: var(--size-step-0);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-start: 0;
}

.badge {
  --badge-background-color: var(--color-body-background);
  --badge-text-color: var(--color-body-text);
  --badge-hover-background-color: var(--badge-text-color);
  --badge-hover-text-color: var(--badge-background-color);
  display: var(--badge-display, inline-flex);
  align-items: var(--badge-align-items, center);
  justify-content: var(--badge-justify-content, center);
  border-color: var(--badge-border-color, var(--color-body-text));
  border-style: var(--badge-border-style, solid);
  border-width: var(--badge-border-width, var(--stroke-weight-light));
  padding-block: var(--badge-padding-block, calc(var(--space-2xs) * 0.5));
  padding-inline: var(--badge-padding-inline, var(--space-2xs));
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  font-size: var(--badge-font-size, var(--size-step--1));
  font-weight: var(--badge-font-weight, 700);
  text-decoration-color: transparent;
  text-transform: var(--badge-text-transform, uppercase);
}

.badge[data-badge-variant="transparent"] {
  --badge-background-color: transparent;
  --badge-text-color: currentColor;
  --badge-border-color: currentColor;
  --badge-hover-background-color: var(--color-body-text);
  --badge-hover-text-color: var(--color-body-background);
}

.badge svg {
  vertical-align: var(--badge-svg-vertical-alignment, -0.35em);
  height: var(--badge-svg-height, 2.5ex);
}

a.badge:hover {
  background-color: var(--badge-hover-background-color);
  color: var(--badge-hover-text-color);
}

.box {
  outline-color: var(--box-border-color, transparent);
  outline-style: var(--box-border-style, solid);
  outline-width: var(--box-border-width, var(--storke-weight-light));
  outline-offset: calc(
    var(--box-border-width, var(--storke-weight-light)) * -1
  );
  border-color: var(--box-border-color, var(--color-body-text));
  border-style: var(--box-border-style, solid);
  border-width: var(--box-border-width, var(--stroke-weight-light));
  padding-block: var(--box-padding-block, var(--space-s-m));
  padding-inline: var(--box-padding-inline, var(--space-s-m));
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gutter, var(--space-m-l));
}

.sidebar > :first-child {
  flex-grow: 1;
  flex-basis: var(--sidebar-flex-basis, 20rem);
}

.sidebar > :last-child {
  flex-grow: 999;
  flex-basis: 0;
  min-inline-size: var(--side-min-inline-size, 50%);
}

.sidebar[data-sidebar-reversed] {
  flex-direction: row-reverse;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-columns-min-size, 30rem, 100%)), 1fr)
  );
  row-gap: var(--grid-row-gap, var(--space-s-m));
  column-gap: var(--grid-column-gap, var(--space-s-m));
  align-items: var(--grid-align-items, stretch);
  justify-content: var(--grid-justify-content, flex-start);
}

.prose {
  --flow-space: var(--space-m-l);
}

.prose h2 {
  font-size: var(--prose-h2-font-size, var(--size-step-4));
}

.prose__article {
  margin-inline: auto;
  max-width: var(--measure-l);
}

.prose__article :is(blockquote, p, li) {
  text-wrap: pretty;
}

.prose[data-prose-align="start"] .prose__article {
  margin-inline: 0;
}

.prose[data-prose-type="blog"] {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);
}

.prose[data-prose-type="blog"] h2 {
  margin-block-start: var(--space-2xl);
}

.prose[data-prose-body-size="bigger"] {
  font-size: var(--size-step-1);
}

.prose[data-prose-heading-two-size="bigger"] {
  --prose-h2-font-size: var(--size-step-7);
}

.prose[data-prose-variant="glare"] .wrapper[data-wrapper-type="inner"] {
  background-color: var(--color-body-background-highlight);
  color: var(--color-body-text);
}

.prose[data-prose-variant="glare"] .prose__lede {
  color: var(--color-primary);
  font-size: var(--size-step-1);
  font-style: italic;
}

.prose[data-prose-variant="primary"] .wrapper[data-wrapper-type="inner"] {
  --color-focus-ring: var(--color-dark);
  background-color: var(--color-primary-shade);
  background-image: linear-gradient(
    90deg,
    var(--color-primary-shade) 0%,
    var(--color-primary-gloom) 50%,
    var(--color-primary-dirty) 100%
  );
  color: var(--color-dark);
  text-wrap: pretty;
}

.prose[data-prose-variant="primary"] h2 {
  font-size: var(--size-step-5);
  text-align: center;
}

.prose[data-prose-variant="primary"] .prose__description {
  font-size: var(--size-step-1);
  text-align: center;
}

.header ul {
  --cluster-justify-content: center;
  --cluster-align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav {
  flex-basis: 100%;
  border-block-end: var(--stroke-weight-heavy) solid var(--color-primary);
}

.header[data-header-type="lite"] nav {
  flex-basis: auto;
  border-block-end: 0;
}

.header[data-header-type="lite"] .flexible {
  border-block-end: var(--stroke-weight-heavy) solid var(--color-primary);
}

.header a {
  font-weight: 700;
  text-decoration-color: transparent;
}

.header__logo:hover {
  color: var(--color-primary);
}

.header a:hover {
  text-decoration-color: currentColor;
}

.header__headline {
  font-size: var(--size-step-4);
  font-weight: 700;
}

.course-header {
  --cluster-justify-content: space-between;
  --cluster-align-items: center;
  --wrapper-inner-padding-block: var(--space-xs);
}

.course-header .wrapper[data-wrapper-type="inner"] {
  border-block-end: var(--stroke);
}

.course-header__name {
  font-size: var(--size-step-3);
  font-weight: 700;
  text-decoration-color: transparent;
}

.course-header__name:hover {
  text-decoration-color: var(--color-primary);
}

.course-header__name:hover span {
  color: var(--color-primary);
}

/* Hero is only for the site's homepage and course's homepage */

.hero {
  /* Hero with badge on top of the h1 */
  --cluster-flex-direction: column-reverse;
  --cluster-column-gap: var(--space-3xs-2xs);
  --cluster-row-gap: var(--space-3xs-2xs);
}

.hero[data-hero-h1-size="smaller"] {
  /* Hero for the course only */
  --hero-h1-font-size: var(--size-step-9);
  --hero-h1-line-height: var(--leading-soft);
  --hero-h1-word-spacing: 0;
  --hero-h1-letter-spacing: var(--kerning);
}

.hero h1 {
  font-size: var(--hero-h1-font-size, calc(var(--size-step-10) * 1.25));
  line-height: var(--hero-h1-line-height, 1);
  word-spacing: var(--hero-h1-word-spacing, -0.015ch);
  letter-spacing: var(--hero-h1-letter-spacing, -0.035ch);
}

.hero__description {
  max-width: var(--measure-m);
  font-size: var(--size-step-2);
}

.hero .wrapper[data-wrapper-type="inner"] {
  background-color: var(--color-dark-glare);
  background-image: linear-gradient(
    90deg,
    var(--color-dark-glare) 0%,
    var(--color-dark) 100%
  );
  color: var(--color-body-text);
}

/* Title: For subpage, blog, and course table of contents */

.title .wrapper[data-wrapper-type="inner"] {
  border-block-end: var(--stroke);
}

.title .title__container {
  /* h1 + badge */
  --cluster-flex-direction: column-reverse;
  --cluster-row-gap: var(--space-3xs-2xs);
}

.title[data-title-type="blog"] .wrapper[data-wrapper-type="inner"] {
  background-color: var(--color-dark-glare);
  background-image: linear-gradient(
    90deg,
    var(--color-dark-glare) 0%,
    var(--color-dark) 100%
  );
  color: var(--color-body-text);
}

.title[data-title-type="blog"] .wrapper[data-wrapper-type="inner"] {
  border-block-end: 0;
}

.title[data-title-type="blog"] .title__meta {
  /* Metadata: author's name, date, and reading time */
  --cluster-column-gap: var(--space-l-xl);
}

.magic .wrapper[data-wrapper-type="inner"] {
  background-color: var(--color-tertiary);
}

.magic p {
  font-size: var(--size-step-5);
  font-weight: 900;
}

.magic span {
  padding-inline: var(--space-3xs);
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.articles__list :is(h2, h3) + p {
  margin-block-start: var(--space-xs);
}

.articles__item {
  --cluster-justify-content: space-between;
  --cluster-flex-direction: column;
  --cluster-row-gap: var(--space-xl);
}

.articles__title {
  font-size: var(--size-step-2);
}

.articles p {
  max-width: var(--measure-l);
  text-wrap: pretty;
}

.articles[data-articles-page="home"] {
  --grid-column-gap: var(--space-2xs);
  --grid-row-gap: var(--space-2xs);
  --sidebar-flex-basis: 30rem;
}

.articles[data-articles-page="home"] .box {
  border: 0;
  border-block-end: var(--stroke-weight-light) solid var(--color-light-shade);
}

.articles[data-articles-page="home"] .articles__headline {
  font-size: var(--size-step-6);
}

.articles[data-articles-page="home"] .articles__lede {
  font-size: var(--size-step-1);
}

.articles[data-articles-type="blog"] .wrapper[data-wrapper-type="inner"] {
  border-block-start: var(--stroke-weight-heavy) dashed var(--color-body-text);
}

.motivation {
  --prose-h2-font-size: var(--size-step--1);
}

.motivation .wrapper[data-wrapper-type="inner"] {
  background-color: var(--color-secondary);
  background-image: linear-gradient(
    10deg,
    var(--color-secondary) 0%,
    var(--color-secondary-glare) 100%
  );
  color: var(--color-light);
}

.motivation strong {
  max-width: var(--measure-m);
  color: var(--color-primary);
  font-size: var(--size-step-5);
  font-weight: 700;
  line-height: 1.1;
  text-wrap: balance;
}

.blog-aside {
  --box-border-width: 2px;
  --box-border-style: dashed;
  --box-padding-inline: var(--space-xs-s);
  --box-padding-block: var(--space-xs-s);
}

.blog-aside__title {
  margin-block-end: var(--space-m);
  border-block-end: var(--stroke);
  padding-block-end: var(--space-2xs);
}

.blog-aside__label {
  font-weight: 700;
  font-style: normal;
}

.topics {
  --cluster-column-gap: var(--space-xs);
  --cluster-row-gap: var(--space-xs);
  --cluster-align-items: center;
}

.topics[data-topics-type="blog"] h2 {
  font-size: var(--size-step-1);
}

.topics[data-topics-type="blog"] .wrapper[data-wrapper-type="inner"] {
  --wrapper-inner-padding-block: var(--gutter);
  border-block: var(--stroke-weight-light) dotted var(--color-light-shade);
}

.course-contents ol {
  font-size: var(--size-step-3);
}

.course-contents a:not(:hover) {
  text-decoration-color: transparent;
}

.course-contents__love {
  color: var(--color-primary);
  font-size: var(--size-step-0);
}

.course-contents__locked {
  opacity: 0.85;
}

.course-contents__demand {
  font-size: var(--size-step-0);
}

.course-contents__demand a:not(:hover) {
  text-decoration-color: var(--color-primary);
}

.request {
  border-block-start: var(--stroke);
  padding-block: var(--space-xl);
  text-align: center;
}

.course-sponsor {
  --cluster-flex-direction: column;
  --cluster-justify-content: center;
  --cluster-align-items: center;
  --cluster-row-gap: var(--space-3xl);
  text-align: center;
}

.course-sponsor__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: var(--size-step-9);
  height: var(--size-step-9);
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.course-sponsor__logo svg {
  height: var(--size-step-6);
}

.course-sponsor__logo:hover {
  transform: scale(1.015);
}

.footer {
  margin-block-start: var(--space-xl);
}

.footer .wrapper[data-wrapper-type="inner"] {
  --flow-space: var(--space-m-l);
  background-color: var(--color-body-background-highlight);
}

.footer a {
  text-decoration-color: var(--color-body-text);
}

.footer__logo {
  display: inline-block;
}

.footer__logo:hover {
  color: var(--color-primary);
}

.footer__meta {
  max-width: var(--measure-l);
  font-size: var(--size-step--1);
}

section[aria-labelledby="footnotes"] {
  font-size: var(--size-step-0);
}

section[aria-labelledby="footnotes"] h2 {
  font-family: var(--font-monospace);
  font-size: var(--size-step-0);
  font-weight: 400;
}

.margin-block-start-0-important {
  margin-block-start: 0 !important;
}

.font-family-monospace-important {
  font-family: var(--font-monospace) !important;
}

.font-size-size-step-0-important {
  font-size: var(--size-step-0) !important;
}

.flow-space-3xs {
  --flow-space: var(--space-3xs);
}

.flow-space-2xs {
  --flow-space: var(--space-2xs);
}

.flow-space-m-l {
  --flow-space: var(--space-xl-2xl);
}
