---
# Copyright (c) Vanza Setia
# SPDX-License-Identifier: CC-BY-NC-ND-4.0
layout: layouts/base.njk
title: Smart Website - Coming Soon
name: Smart Website
description: This page will be the table of content of Smart Website course.
author:
  name: Vanza Setia
copyright:
  year: 2025
---

{% include "header/course.njk" %}
<main tabindex="-1">
  <div class="title">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="title__container cluster">
          <h1>Lessons</h1>
          <p class="badge">Coming soon</p>
        </div>
        <p>
          <span aria-hidden="true">»</span>
          <a href="/blog/">Back to read articles</a>
        </p>
      </div>
    </div>
  </div>
  <div class="prose" data-prose-type="blog" data-prose-body-size="bigger">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <p>
            Sorry. The course is not available yet. It will be available as soon
            as possible. For now, feel free to <a href="/blog/">explore my articles</a> or <a href="/people/">check out my comments</a> on others' posts. Thank you for your patience!
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
