---
# Copyright (c) Vanza Setia
# SPDX-License-Identifier: CC-BY-NC-ND-4.0
layout: "layouts/base.njk"
title: Smart Website - Lessons
description: This page is the table of content of the Smart Website course.
permalink: "/smart-website/lessons/index.html"
author:
  name: Vanza Setia
copyright:
  year: 2025, 2026
eleventyExcludeFromCollections: true
---

{% include "header/course.njk" %}
<main tabindex="-1">
  <div class="title">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <h1>Lessons</h1>
      </div>
    </div>
  </div>
  <div class="course-contents prose">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow flow-space-m-l">
        {% set lessons = collections["smart-website"] | groupby("data.chapter") | dictsort %}
        {% set index = 1 %}
        {% for chapter, lessons in lessons %}
        <h2>{{ chapter | replace( r/([0-9][0-9]\-)/g, "") | titleCaseFilter }}</h2>
        <ol start="{{ index }}">
          {% for lesson in lessons %}
          <li>
            <a href="{{ lesson.url }}">{{ lesson.data.title | titleCaseFilter }}</a>
            <p class="course-contents__love">
              <strong>Free to read</strong>
            </p>
          </li>
          {% set index = index + 1 %}
          {% endfor %}
        </ol>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
