---
layout: layouts/general.njk
title: Bio
eleventyNavigation:
  key: Bio
  order: 4
copyrightYear: 2024
---

<p>
  I started learning web development in 2020 by following dozens of video
  tutorials. Then, I ended up with lots of learning projects. I was happy that I
  created a lot of projects.
</p>
<p>
  Then, I started to make something on my own from scratch. But I did not know
  where to start. I did not know what to do. Then, I watched more tutorials. But I
  still ended up not knowing what to do.
</p>
<p>
  I felt like web development was not for me. I could not create anything by
  myself. I could not even make a simple and good website. I thought, "What is
  wrong with me? I have watched lots of tutorials and followed along. Why still
  I could not make something on my own?"
</p>
<p>But I did not want to give up. So I tried to find another way to learn.</p>
<p>
  In 2021, I found a learning platform called Frontend Mentor where I could make
  projects based on an existing design. I created 34 projects and helped
  hundreds of fellow developers by writing over 1700 comments in two years.
</p>
<p>
  Next, I knew that I could turn designs into websites. As a result, I decided
  to apply for jobs with the Frontend Mentor projects in my resume. I applied to
  five companies. Then, I got two interview calls. I passed one of the
  interviews. But, I did not continue because the company wanted me to do some
  design work which was something that I did not want to do.
</p>
<p>
  Anyway, I still did not have a website that I built from scratch. After
  thinking for quite some time, I decided to develop a personal website.
</p>
<p>
  In 2023, I published my website and chose vanzasetia.site as the domain name.
  I wrote around 80 blog posts in a year. I was having fun playing around with
  my website.
</p>
<p>
  But, in early 2024, I did not want to maintain it anymore. After I learned
  more about writing in English, copyright, and software licenses, I realized
  that I had made a lot of mistakes. So I decided to start over.
</p>
<p>
  Here I am now. I write blog posts to help people stop being beginners and
  learn the technical and the nontechnical parts of frontend web development.
</p>
<h2>Volunteer</h2>
<p>
  In December 2023, I became a volunteer to fix accessibility issues on a
  diocese website. I managed to fix minor issues on that website. (By the way,
  the website uses WordPress which was something new for me.)
</p>
<p>
  I could not fix the major issues, such as removing the carousel on that
  website. I asked the admin of that website to switch to a better alternative.
  I proposed the idea of using a three-column grid layout. But, the admin
  replied that if the admin could not inject the data as conveniently as using a
  carousel, then the admin would not accept it. At last, I could not remove the
  carousel because I could not convince the admin to care about web
  accessibility.
</p>
<p>
  Then, the admin added a nasty feature to prevent people from copying the text.
  I complained to the admin to remove it, because it increases the size of the
  website. It also removes one of the default features that all browsers have.
  But the admin said that the feature was implemented because a nun asked the
  admin to prevent plagiarism. But that reason was not a good reason to justify
  the feature. It restricts people from exercising one of the basic features
  that all browsers offer, so it is bad.
</p>
<p>
  As a result, I decided to stop being a volunteer because the admin does not
  make accessibility a priority. Also, I do not want to become a part of people
  who develop a website that restricts copying text.
</p>
<h2>Other</h2>
<p>Now, I would like to tell you another part of me besides web development.</p>
<p>In the past, I was a person who</p>
<ul>
  <li>
    never read the terms and conditions and the privacy policy before creating
    an account; and
  </li>
  <li>used the internet as is; and</li>
  <li>used the same password for all my accounts; and</li>
  <li>had blind faith in the developers of all apps that I used; and</li>
  <li>
    did not care about free/libre software or software that respects the user's
    freedom; and
  </li>
  <li>had five Google accounts; and</li>
  <li>used Google Chrome only; and</li>
  <li>watched ads when watching videos on YouTube; and</li>
  <li>used social media.</li>
</ul>
<p>Now, I am still a person (human). But I</p>
<ul>
  <li>
    read the terms and conditions and the privacy policy before making an
    account; and
  </li>
  <li>use NextDNS; and</li>
  <li>
    use different passwords for each with the help of a password manager; and
  </li>
  <li>prefer using free/libre software; and</li>
  <li>have one Google account; and</li>
  <li>use Brave and Ungoogled Chromium; and</li>
  <li>use Invidious to watch videos from YouTube; and</li>
  <li>do not use social media, except WhatsApp.</li>
</ul>
<p>
  I am a Christian. I believe in Jesus Christ as my God and Savior. I attend a
  Christian Catholic church every week, but I have not been baptized.
</p>
<p>
  I pronounce my name with the following International Phonetic Alphabet (IPA):
</p>
<ul>
  <li>Vanza /ˈvʌn.zʌ/</li>
  <li>Setia /ˈsə.tiʌ/</li>
</ul>
<p>The "Van" in the word "Vanza" is pronounced almost the same as "fun."</p>
