---
# MIT License
#
# Copyright (c) 2024 Vanza Setia
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

permalink: feed.xml
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["blog"]
author: Vanza Setia
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <language>en-us</language>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <copyright>Copyright © 2024, 2025 {{ site.copyright.holder }}.</copyright>
    <lastBuildDate>{{ collections.blog | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <atom:link href="{{ site.url }}/{{ permalink }}" rel="self" type="application/rss+xml" />
    <author>
      <name>{{ author }}</name>
      <email>{{ site.email }}</email>
    </author>
    {% for blog in collections.blog | reverse %}
    {% set absoluteBlogUrl = blog.url | htmlBaseUrl(site.url) %}
    <item>
      <title>{{ blog.data.title }}</title>
      <link>{{ absoluteBlogUrl }}</link>
      <pubDate>{{ blog.date | dateToRfc822 }}</pubDate>
      <guid>{{ absoluteBlogUrl }}</guid>
      <description>{{ blog.templateContent | transformWithHtmlBase(absoluteBlogUrl, blog.url) }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
