---
layout: layouts/general.njk
title: Goal
eleventyNavigation:
  key: Goal
  order: 3
copyrightYear: 2024
---

<p>The goals of this website are</p>
<ul>
  <li>
    to tell you more information about frontend web development from different
    aspects (not just about writing code);
  </li>
  <li>to give you information that most tutorials do not cover;</li>
  <li>to take you from the beginner level to the next level;</li>
  <li>
    to give you real expectation or to turn you from knowing nothing to know how
    to do something; and
  </li>
  <li>to allow me to share my opinions and works.</li>
</ul>
<p>
  The goal of this website is
  <strong style="text-transform: uppercase">not</strong> to turn you into a
  highly skilled and multitasking frontend developer who
</p>
<ul>
  <li>is proficient at using various tools that are now popular; and</li>
  <li>
    is ready to work in a professional or real—not in fantasy—environment that
    strives for pixel-perfection, accessibility, and maintainability; and
  </li>
  <li>is ready to work under pressure because of tight deadlines; and</li>
  <li>can work at a high speed; and</li>
  <li>produce high-quality, clean, and bugs-free code; and</li>
  <li>solve problems with critical thinking; and</li>
  <li>many other skills (soft and hard skills) that I will not mention.</li>
</ul>

