---
layout: layouts/general.njk
title: GPG
description: You can send me an encrypted email with GnuPG (GNU Privacy Guard).
eleventyNavigation:
  key: GPG
  order: 7
copyrightYear: 2024
---

<p><a href="/vanzasetia-public-key.txt">GPG key fingerprint: AD60 1C7F 24B9 21E5 02E9  E9C1 372F 9239 830C 910A</a></p>
<pre><code>pub   rsa4096 2024-04-26 [SC]
      AD60 1C7F 24B9 21E5 02E9  E9C1 372F 9239 830C 910A
uid           [ultimate] Vanza Setia &lt;venusbumi2@gmail.com&gt;
uid           [ultimate] Vanza Setia &lt;vanzasetia@proton.me&gt;
sub   rsa4096 2024-04-26 [E]
</code></pre>
<p>If you want to know how to use GPG, visit <a href="https://emailselfdefense.fsf.org/en/index.html">Email Self-Defense</a>.</p>
