---
layout: layouts/general.njk
title: Help
eleventyNavigation:
  key: Help
  order: 5
copyrightYear: 2024
---

<p>
  If you find this website helpful, please help me by doing the following
  things:
</p>
<ul>
  <li>
    link to this website on your website or social media accounts;
  </li>
  <li>
    redistribute the blog posts on your website or social media
    accounts;
  </li>
  <li>send me suggestions or comments through the email; and</li>
  <li>
    teach me about maintaining contributions (including technical,
    social, and legal stuff).
  </li>
</ul>
<p>
  If you want to make a technical contribution to this website, please contact
  me first.
</p>
