---
layout: layouts/general.njk
title: Help
eleventyNavigation:
  key: Help
  order: 5
copyrightYear: 2024
---

<p>
  If you find this website helpful, you can help me by doing the following
  things:
</p>
<ul>
  <li>
    You can link to this website on your website or social media accounts.
  </li>
  <li>
    You can donate to me through
    <a href="https://ko-fi.com/vanzasetia">Ko-fi</a> or
    <a href="https://www.paypal.com/paypalme/vanzasetia">PayPal</a>.
  </li>
  <li>
    You can redistribute the blog posts on your website or social media
    accounts. (Pay attention to the license on each blog post.)
  </li>
  <li>You can send me suggestions or comments through the email.</li>
  <li>
    You can teach me about maintaining contributions (including technical,
    social, and legal stuff).
  </li>
</ul>
<p>
  If you want to make a technical contribution to this website, please contact
  me first.
</p>
