---
layout: layouts/base.njk
description: I help new web developers build great websites on their own without going through tutorial hell and experiencing the blank page syndrome.
numberOfBestBlogsToShow: 6
numberOfLatestBlogsToShow: 4
copyright:
  year: 2024, 2025, 2026
---

{% include "header/full.njk" %}
<main tabindex="-1">
  <div class="hero prose" data-prose-align="start">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="flow">
          <h1>Go <em>again</em></h1>
          <p class="hero__description prose__article">
            I help new web developers build great websites on their own without
            going through tutorial hell and experiencing the blank page
            syndrome.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="magic">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <p><span>One birth, one life, one death</span></p>
      </div>
    </div>
  </div>
  <div
    class="prose"
    data-prose-heading-two-size="bigger"
    data-prose-variant="glare"
  >
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <h2>Hi, I am Vanza.</h2>
          <p>
            I teach how to build beautiful and well-functioning UIs using HTML,
            CSS, and JavaScript with AI assistance. I use AI
            <strong>only</strong> when it makes my job easier.
          </p>
          <p>
            I simplify complex ideas into clear messaging and has comfort using
            generative AI tools to support—and only to support—creative
            workflows.
          </p>
          <div class="cluster">
            <a
              href="/smart-website/"
              class="button"
              data-button-variant="light"
            >
              Smart website course
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
              >
                <g fill="currentColor">
                  <use href="#arrow-up-right"></use>
                </g>
              </svg>
            </a>
            <a href="/blog/" class="button">
              Latest articles
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
              >
                <g fill="currentColor">
                  <use href="#arrow-up-right"></use>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="articles" data-articles-page="home">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="sidebar">
          <div class="flow box">
            <h2 class="articles__headline">Best articles</h2>
            <p class="articles__lede">
              All articles are great but these are the best of the best from me.
            </p>
          </div>
          {% set blogList = collections.best | blogSliceFilter(-1 *
          numberOfBestBlogsToShow) %}
          <ul class="articles__list grid" role="list">
            {% include "blog/list.njk" %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="articles" data-articles-page="home">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="flow box">
          <h2 class="articles__headline">Latest articles</h2>
          <p class="articles__lede">
            I am now interested in teaching normal web development and writing
            in plain language.
          </p>
          <p>
            <a href="./" class="button" data-button-variant="light"
              >View all articles</a
            >
          </p>
        </div>
        {% set blogList = collections.latest | blogSliceFilter(-1 *
        numberOfLatestBlogsToShow) %}
        <ol class="articles__list grid" role="list" reversed>
          {% include "blog/list.njk" %}
        </ol>
      </div>
    </div>
  </div>
  <div class="topics">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="sidebar">
          <h2>Topics</h2>
          {% set tags = collections.sort %} {% include "blog/categories.njk" %}
        </div>
      </div>
    </div>
  </div>
  <div class="motivation prose">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <div class="prose__article flow">
          <h2 class="badge" data-badge-variant="transparent">Motivation</h2>
          <p>
            <strong>My people are destroyed for lack of knowledge…</strong>
          </p>
          <p>—Hosea 4:6, King James Version</p>
        </div>
      </div>
    </div>
  </div>
</main>
