---
layout: layouts/base.njk
description: The articles on this website encourage you to think critically. I invite you to judge whether what I write is right or wrong.
numberOfBestBlogsToShow: 6
numberOfLatestBlogsToShow: 4
copyright:
  year: 2024, 2025
---

{% include "header/full.njk" %}
<main tabindex="-1">
  <div class="hero">
    <div class="wrapper">
      <div class="wrapper flow" data-wrapper-type="inner">
        <h1>I write <em>great</em> articles.</h1>
        <p class="hero__lede">
          High-quality, critical, and clear articles from a front-end web
          developer to make you smarter.
        </p>
        <div class="cluster">
          <a href="/smart-website/" class="button">
            Smart Website course
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
          <a href="/blog/" class="button">
            Latest articles
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="topics">
    <div class="wrapper">
      <div class="wrapper flow" data-wrapper-type="inner">
        <h2>Topics</h2>
        {% set tags = collections.sort %}
        {% include "blog/categories.njk" %}
      </div>
    </div>
  </div>
  <div class="articles">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <h2>Best articles</h2>
      </div>
      {% set blogList = collections.best | blogSliceFilter(-1 * numberOfBestBlogsToShow) %}
      {% include "blog/list.njk" %}
    </div>
  </div>
  <div class="articles">
    <div class="wrapper">
      <div class="wrapper" data-wrapper-type="inner">
        <h2>Latest</h2>
      </div>
      {% set blogList = collections.latest | blogSliceFilter(-1 * numberOfLatestBlogsToShow) %}
      {% include "blog/list.njk" %}
      <div class="wrapper" data-wrapper-type="inner">
        <a href="/blog/" class="button" data-button-size="mega">
          View all articles
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
            fill="currentColor"
          >
            <use href="#arrow-up-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="wrapper">
      <div class="wrapper flow border-block-start-0" data-wrapper-type="inner">
        <h2>Discuss with me</h2>
        <p>
          I love interacting with my readers—not bots or
          <em>even</em> artificial intelligence (AI). Do not worry if your
          English is not good. My English is not very good either. Let us have a
          nice discussion.
        </p>
        <p>
          Do you want me to write something? I am happy to know that. Tell me
          exactly your <em>brilliant</em> idea through
          <strong>{{ site.email }}</strong>.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="wrapper">
      <div class="wrapper flow" data-wrapper-type="inner">
        <h2>Author</h2>
        <p>
          I am a Christian. I develop websites with modern techniques and
          accessibility in mind. I am a privacy supporter.
        </p>
        <p>
          <a href="/author/" class="button">
            More about me
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
              focusable="false"
              fill="currentColor"
            >
              <use href="#arrow-up-right"></use>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="wrapper">
      <div class="wrapper flow" data-wrapper-type="inner">
        <h2><span class="badge">Motivation</span></h2>
        <blockquote>
          <p>My people are destroyed for lack of knowledge…</p>
          <p>—Hosea 4:6, King James Version</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="wrapper">
      <div class="wrapper flow" data-wrapper-type="inner">
        <h2><span class="badge">Comment</span></h2>
        <p class="text-size-large font-family-sans-serif font-weight-700">
          What do you think about this home page?
        </p>
        <p>
          My email is
          <strong>{{ site.email }}</strong>. Don't be shy!
        </p>
      </div>
    </div>
  </div>
</main>
