---
layout: layouts/base.njk
numberOfLatestBlogsToShow: 5
eleventyNavigation:
  key: Home
  order: 1
copyrightYear: 2024
---

<h1>Hello, I am Vanza</h1>
<p>
  In the past, I could not develop a website without a tutorial for about six
  months. Now, I can develop this website and write blog posts to help people to
  stop being beginners.
</p>
<p>
  I am available to hire as a junior frontend developer or a writer. I prefer
  working on a company or with a person that value user's privacy. I do not want
  to work for a surveillance company or a spy. Also, I do not want to promote
  unethical products.
</p>
<p>
  This website is at the mercy of three companies: GitHub, Netlify, and
  Porkbun. (I am neither endorsing those companies nor their services.)
</p>
<p>If you hate my writings, go away. Do not bother me.</p>
<h2>Latest writings</h2>
{% set blogList = collections.blog | blogSliceFilter(-1 * numberOfLatestBlogsToShow) %}
{% include "blog/list.njk" %}
