---
layout: layouts/list.njk
title: People
eleventyNavigation:
  key: People
  order: 4
copyright:
  year: 2025
---

{% set blogList = collections.people %}
<ol class="articles__list grid" role="list" reversed>
  {% include "blog/list.njk" %}
</ol>
