---
layout: layouts/general.njk
title: Style Guide
description: This is the style guide for publications on this website. The goal is to make it as permissive as possible.
eleventyNavigation:
  key: Style Guide
  order: 6
copyrightYear: 2024
license:
  name: Creative Commons Attribution-ShareAlike 4.0 International License
  url: https://creativecommons.org/licenses/by-sa/4.0/
---

<h2>Headings</h2>
<p>Do not use periods (.) and colons (:) at the end of the headings.</p>
<p>Use sentence case capitalization.</p>
<h2>Links</h2>
<p>Use straight quotes for a link label that</p>
<ul>
  <li>uses the title of the page; and</li>
  <li>is multi-word; and</li>
  <li>does not fit within the sentence grammatically.</li>
</ul>
<p>For example:</p>
<pre><code>&quot;[PAGE-TITLE](/)&quot; is written by a human being.
</code></pre>
<h2>Lists</h2>
<p>Make the items in the list parallel in grammar.</p>
<p>For example:</p>
<blockquote>
  <p>You have three tasks for today.</p>
  <ul>
    <li><strong>Eat</strong> breakfast</li>
    <li><strong>Write</strong> a blog post</li>
    <li><strong>Drink</strong> water</li>
  </ul>
</blockquote>
<p>Do not write as the following:</p>
<blockquote>
  <p>Three important things.</p>
  <ul>
    <li>Breath</li>
    <li>Happy</li>
    <li>HTML</li>
  </ul>
</blockquote>
<h2>Dates and times</h2>
<p>
  Dates must written in the following format:
  <strong>two-digit day of the month</strong> +
  <strong> the full month name </strong> +
  <strong>the full four-digit year</strong>. For example: 01 January 2022.
</p>
<p>Use the 24-hour system.</p>
<h2>Straight quotes and curly quotes</h2>
<p>Use straight quotes.</p>
<h2>Numbers</h2>
<p>Write out the numbers zero to nine in letters.</p>
<p>Use digits for all numbers above nine.</p>
<h2>Contractions</h2>
<p>Do not use contractions.</p>
<table>
  <thead>
    <tr>
      <th>Do not write</th>
      <th>Write</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>I'm a human.</td>
      <td>I am a human.</td>
    </tr>
    <tr>
      <td>They've gone.</td>
      <td>They have gone.</td>
    </tr>
    <tr>
      <td>We'll arrive at 6 o'clock in the morning.</td>
      <td>We will arrive at 6 of the clock in the morning.</td>
    </tr>
  </tbody>
</table>
<h2>Code blocks</h2>
<p>
  Style any placeholders that people need to replace with their own values in
  all caps. For example: <code>git branch BRANCH-NAME</code>.
</p>
<h2>File names and directory names</h2>
<p>
  Use backticks or HTML code element (<code>&lt;code&gt;</code>) to format file
  names and directory names. For example: <code>README.md</code>.
</p>
<h2>Word choice</h2>
<p>Terms to use instead.</p>
<table>
  <thead>
    <tr>
      <th>Avoid</th>
      <th>Use</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>front-end, front end</td>
      <td>frontend</td>
    </tr>
    <tr>
      <td>e-mail</td>
      <td>email</td>
    </tr>
    <tr>
      <td>Xmas</td>
      <td>Christmas</td>
    </tr>
    <tr>
      <td>Catholic, Protestant</td>
      <td><strong>Christian</strong> Catholic, <strong>Christian</strong> Protestant</td>
    </tr>
    <tr>
      <td>Non-Catholic, Non-Protestant</td>
      <td>Non-Christian</td>
    </tr>
    <tr>
      <td>utilize</td>
      <td>use</td>
    </tr>
    <tr>
      <td>blacklist, black list</td>
      <td>blocklist</td>
    </tr>
    <tr>
      <td>check box</td>
      <td>checkbox</td>
    </tr>
  </tbody>
</table>
<p>
  See "<a href="/blog/word-choice-indonesian-english/">
    My word choice in English and Indonesian</a
  >" blog post for the rest of the word choice.
</p>
<h2>Currency</h2>
<p>
  Use lowercase for currency names, capitalize the reference to the country or
  region, and add the International Organization for Standardization (ISO)
  standard currency code. For examples:
</p>
<ul>
  <li>120 US dollars (USD)</li>
  <li>15.000 ID rupiahs (IDR)</li>
</ul>
<p>
  The list of the ISO standard currency codes can be found on
  <a href="https://en.wikipedia.org/wiki/ISO_4217"
    >the Wikipedia page for ISO 4217</a
  >.
</p>

